header {
  width: 100%;
  height: 20%;
  background: $c-header;
  background-image: url('/images/hero-bg.jpg');
  background-size: cover;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
  }

  li {
    display: inline;
    padding-left: 1rem;
  }
}

.nav-container {
  width: 70%;
  max-width: 100rem;
  margin: 0 auto;

}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20rem;

  &__title {
    color: $c-white;
    font-size: 3rem;
  }

}
