// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
$c-footer: #06245d;
$c-text: #555;
$c-header: #2b92dd;

@import 'body';
@import 'footer';


@import 'header';

@import 'box-sizing';
@import 'reset';
