// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
$c-footer: #083452;
$c-text: #555;
$c-header: #2b92dd;
$c-overlayblue: rgba(17, 92, 147, 0.8);
$c-overlay-text: #06314e;
$c-white: #fff;

@import 'body';
@import 'footer';


@import 'header';

@import 'box-sizing';
@import 'reset';
