header {
  background: $c-header;
  max-height: 5rem;
  min-width: 1rem;
}

.navbar {

  max-width: 100rem;
  width: 70%auto;
  margin: 0 auto;



  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

  }
}

.link {
  padding-right: 2rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  min-height: 20rem;
}
